/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2018, 9:43:27 AM
    Author     : hfischer
*/



.style_settings{
    font-family: calibri;
}

.style_headerpeg{
    font-family: calibri;
    font-size: 35px;
    margin-left: 10px;
}

.style_headertool{
    font-family: calibri;
    font-size: 20px;
    margin-left: 20px;
}

.style_pegasusimage{
    margin-left: 10px;
    margin-right:10px;
    margin-top:  10px;
    width : 70px;
    height: 70px;
}

.style_wrapper{
    width:  80%;
    height: 80%;
    margin: 0px;
}

.style_panelslider{
    width: 25%;
    height: 80%;    
    margin: 0px;  
    
}

.style_slider{

    width:  10px;
    height: 250px;
    background-color: #AAAAAA;
    margin-left: 30px;
    margin-top:  0px;
}

.style_slidermaster{

    width:  10px;
    height: 250px;
    background-color: #AAAAAA;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:  0px;
}


.style_output{
    margin: 20px;
    font-size: 25px;
    font-family: calibri;
}

.style_button{
    width: 60px;
    height:40px;
    font-size: 15px;
    font-family: calibri;
    margin-left: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1.0);
}

.style_cmdbutton{
    width:  80%;
    height: 40px;
    margin: 20px;
    font-family: calibri;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1.0);
}

.style_inputtext{
    width: 150px;
    height:20px;
    font-family: calibri;
}

.style_message{
    font-family: calibri;
}

.style_label{
    font-family: calibri;
}

.style_panelslidermaster{
    margin-left:20px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 80px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1.0);
    text-align: center;
}

.style_btnconfiguration{
    font-family: calibri;
    margin: 20px;
    width: 30%;
    height: 60px;
}